// @import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";


$primary_1: #ecf2f3;
$primary_2: #0f0e01;
$danger:rgba(228, 13, 13, 0.918);
$myFont: Helvetica, sans-serif;
$circleSize:10vw;
$circleBorderColor:rgb(255, 255, 255);
$circleFontSizeL: 5rem;
$circleFontSizeM: 4rem;
$circleFontSizeS: 1rem;
$mobile: 768px;
$medium:1200px;
$bg:url("../img/brick.jpg");
$bgCirclePath1:url("../img/blue.jpg");
$bgCirclePath2:url("../img/red.jpg");
body{
    background-image: $bg;
    color: $primary_1 ;
}
.containerS{
    width: 30vw;
    margin: auto;
    @media only screen and (max-width: $mobile) {
        width: 80vw;
     }

}
.title{
    background-color: $primary_2;
    border-radius: 10px; 
}
.circle{
    width: $circleSize;
    height: $circleSize;
    border-radius: 50%;
    font-size: $circleFontSizeL;
    text-align: center;
    @media only screen and (max-width: $mobile) {
        width: $circleSize *2;
        height: $circleSize * 2;
     }
}
.player1, .player2{
    @media only screen and (max-width: $mobile) {
        font-size: $circleFontSizeS;
     }
    @media only screen and (max-width: $medium) {
         font-size: $circleFontSizeM;
     }
}
.player1_on{
    &:hover {
        border: 5px solid $circleBorderColor;
    }
}
.player1_off{
    &:hover {
        border: none;
    }
}
.player2_on{
    &:hover {
        border: 5px solid $circleBorderColor;
    }
}
.player2_off{
    &:hover {
        border: none;
    }
}
.tray1{
    .circle{
       background-image: $bgCirclePath1;
    }
}
.tray2{
    .circle{
       background-image: $bgCirclePath2;
    }
}
.player1{
    @media only screen and (max-width: $mobile) {
        font-size: $circleFontSizeS;
     }
    @media only screen and (max-width: $medium) {
         font-size: $circleFontSizeM;
     }
}
.space{
    height: 20px;
}
#trophy{
    width: 20vw;
    @media only screen and (max-width: $mobile) {
        width: 40vw;
    }
}