.circle{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 106);
    border-radius: 50%;
    font-size: 4rem;
}
.circle:hover{
    border : 5px solid #28a745 ;    
}
.circleNotSelectable:hover {    
    border:none;
}
div[class*="col"] {
    padding: 1rem;  
    text-align: center;
}
#icon1{
    font-size:60px;
    color:rgb(248, 95, 7);
}
#icon2{
    font-size:60px;
    color:rgb(98, 0, 255);
}
.score{
    margin-left: 10px;
    padding: 10px;
    border-radius: 10%;
}
#score1{
    border: 5px solid rgb(248, 95, 7);
}
#score2{
    border: 5px solid rgb(98, 0, 255);
}
#startBtn{
    padding: 5px 30px;
}
